<div class="form-group">
    @Html.Label("Authors", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.DropDownList("IdAuthor", null, new { @class = "multiselect form-control" })
    </div>
</div>